<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900729736011-19luusfenlb2n0pcaru53eot6t8qo8ul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900729736011-19luusfenlb2n0pcaru53eot6t8qo8ul</string>
	<key>API_KEY</key>
	<string>AIzaSyAsTJGS-__xtw7YdX1-BCb6_74PzZ38FPo</string>
	<key>GCM_SENDER_ID</key>
	<string>900729736011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ninety</string>
	<key>PROJECT_ID</key>
	<string>ninety-camera</string>
	<key>STORAGE_BUCKET</key>
	<string>ninety-camera.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900729736011:ios:77ba51970df01b28b576ce</string>
</dict>
</plist>